# User-specific files
*.suo
*.csproj.user


# Build results
[Bb]in/
[Oo]bj/


# Files built by Visual Studio
*.obj
*.vs


# Resharper
*.DotSettings.user


# Cachefiles
*.cachefile


# Windows trash
*.thumb
thumbs.db


# Files created by the Rider IDE
.idea


# NuGet packages
src/packages
src/*/packages
