Janek       <janek.spaderna@pluto.uni-freiburg.de>
Jens        <OmegaMadPenguin@localhost.localdomain>
Jens        <jrahnfeld@hotmail.de>
Jens        <rahnfelj@informatik.uni-freiburg.de>
Johannes    <johannesmannhardt@web.de>
Max         <nazarati@sopra-crew@informatik.uni-freiburg.de>
Max         <nazarati_maximilian@pm.me>
Melissa     <melissaa@tf.uni-freiburg.de>
Zachi       <Zacharias.Haeringer@gmx.de>
Zachi       <Zacharias.Haeringer@uranus.uni-freiburg.de>
Zachi       <haeringz@sopra-crew@informatik.uni-freiburg.de>
Zoë         <schaaffz@sopra-crew@informatik.uni-freiburg.de>
Zoë         <schaaffz@tf.uni-freiburg.de>
